In [7]:
import pandas as pd

Upload Datasets

In [8]:
df = pd.read_csv(r"C:\Users\ukasy\project ML\MBC_Project\train.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       746 non-null    int64
 1   Age                      746 non-null    int64
 2   Gender                   746 non-null    object
 3   Patient_Address          746 non-null    object
 4   Chest_Pain_Type          746 non-null    object
 5   Resting_Blood_Pressure   742 non-null    float64
 6   Cholesterol_Level        722 non-null    float64
 7   Fasting_Blood_Sugar      660 non-null    object
 8   Resting_ECG              744 non-null    object
 9   Thalch                   743 non-null    float64
 10  Exercise_Induced_Angina  743 non-null    object
 11  Oldpeak                  739 non-null    float64
 12  Slope                    529 non-null    object
 13  CA                       312 non-null    float64
 14  Thal                     406 non-null    object
 15  Have_Heart_Disease       746 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 93.4+ KB

Drop kolom yg kurg berguna

In [ ]:
drop_cols = ['ID', 'Patient_Address']

df.drop(columns=drop_cols, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      746 non-null    int64
 1   Gender                   746 non-null    object
 2   Chest_Pain_Type          746 non-null    object
 3   Resting_Blood_Pressure   742 non-null    float64
 4   Cholesterol_Level        722 non-null    float64
 5   Fasting_Blood_Sugar      660 non-null    object
 6   Resting_ECG              744 non-null    object
 7   Thalch                   743 non-null    float64
 8   Exercise_Induced_Angina  743 non-null    object
 9   Oldpeak                  739 non-null    float64
 10  Slope                    529 non-null    object
 11  CA                       312 non-null    float64
 12  Thal                     406 non-null    object
 13  Have_Heart_Disease       746 non-null    int64
dtypes: float64(5), int64(2), object(7)
memory usage: 81.7+ KB

liat missinga values

In [10]:
df.isna().sum()

Age                          0
Gender                       0
Chest_Pain_Type              0
Resting_Blood_Pressure       4
Cholesterol_Level           24
Fasting_Blood_Sugar         86
Resting_ECG                  2
Thalch                       3
Exercise_Induced_Angina      3
Oldpeak                      7
Slope                      217
CA                         434
Thal                       340
Have_Heart_Disease           0
dtype: int64

Liat skew (untuk menentukan masukan missing values )

In [13]:
cols = df.select_dtypes(include='number').columns.tolist()

for col in cols:
    skew_cols = df[col].skew()
    print(f"skew {col} = {skew_cols}")

    
print(cols)

skew Age = -0.14572828731042073
skew Resting_Blood_Pressure = 0.6861549193348193
skew Cholesterol_Level = -0.6222989646217472
skew Thalch = -0.3519498835382844
skew Oldpeak = 1.2304560385077283
skew CA = 1.1547056649864775
skew Have_Heart_Disease = 0.0
['Age', 'Resting_Blood_Pressure', 'Cholesterol_Level', 'Thalch', 'Oldpeak', 'CA', 'Have_Heart_Disease']

Cek DF

In [14]:
df.head(10)

,Age,Gender,Chest_Pain_Type,Resting_Blood_Pressure,Cholesterol_Level,Fasting_Blood_Sugar,Resting_ECG,Thalch,Exercise_Induced_Angina,Oldpeak,Slope,CA,Thal,Have_Heart_Disease
0,63,Male,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,67,Male,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,1
2,67,Male,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,37,Male,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,41,Female,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0
5,56,Male,atypical angina,120.0,236.0,False,normal,178.0,False,0.8,upsloping,0.0,normal,0
6,62,Female,asymptomatic,140.0,268.0,False,lv hypertrophy,160.0,False,3.6,downsloping,2.0,normal,1
7,57,Female,asymptomatic,120.0,354.0,False,normal,163.0,True,0.6,upsloping,0.0,normal,0
8,63,Male,asymptomatic,130.0,254.0,False,lv hypertrophy,147.0,False,1.4,flat,1.0,reversable defect,1
9,53,Male,asymptomatic,140.0,203.0,True,lv hypertrophy,155.0,True,3.1,downsloping,0.0,reversable defect,1

Masukkan Nilai ke Missing Values

In [ ]:
df['Resting_Blood_Pressure'] = df['Resting_Blood_Pressure'].fillna(df['Resting_Blood_Pressure'].median())
df['Cholesterol_Level'] = df['Cholesterol_Level'].fillna(df['Cholesterol_Level'].median())
df['CA'] = df['CA'].fillna(df['CA'].median())
df['Thalch'] = df['Thalch'].fillna(df['Thalch'].mean())
df['Oldpeak'] = df['Oldpeak'].fillna(df['Oldpeak'].median())


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      746 non-null    int64
 1   Gender                   746 non-null    object
 2   Chest_Pain_Type          746 non-null    object
 3   Resting_Blood_Pressure   746 non-null    float64
 4   Cholesterol_Level        746 non-null    float64
 5   Fasting_Blood_Sugar      660 non-null    object
 6   Resting_ECG              744 non-null    object
 7   Thalch                   746 non-null    float64
 8   Exercise_Induced_Angina  743 non-null    object
 9   Oldpeak                  746 non-null    float64
 10  Slope                    529 non-null    object
 11  CA                       746 non-null    float64
 12  Thal                     406 non-null    object
 13  Have_Heart_Disease       746 non-null    int64
dtypes: float64(5), int64(2), object(7)
memory usage: 81.7+ KB

Liat missing values selain kolom number

In [17]:
df.select_dtypes(include='object').isna().sum()

Gender                       0
Chest_Pain_Type              0
Fasting_Blood_Sugar         86
Resting_ECG                  2
Exercise_Induced_Angina      3
Slope                      217
Thal                       340
dtype: int64

isi missing values pada kolom object dengan mewnggunakan modus

In [18]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].fillna(df[col].mode()[0])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      746 non-null    int64
 1   Gender                   746 non-null    object
 2   Chest_Pain_Type          746 non-null    object
 3   Resting_Blood_Pressure   746 non-null    float64
 4   Cholesterol_Level        746 non-null    float64
 5   Fasting_Blood_Sugar      746 non-null    bool
 6   Resting_ECG              746 non-null    object
 7   Thalch                   746 non-null    float64
 8   Exercise_Induced_Angina  746 non-null    bool
 9   Oldpeak                  746 non-null    float64
 10  Slope                    746 non-null    object
 11  CA                       746 non-null    float64
 12  Thal                     746 non-null    object
 13  Have_Heart_Disease       746 non-null    int64
dtypes: bool(2), float64(5), int64(2), object(5)
memory usage: 71.5+ KB

C:\Users\ukasy\AppData\Local\Temp\ipykernel_11648\638984055.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].fillna(df[col].mode()[0])

Cek DF lagi

In [19]:
df.head(5)

,Age,Gender,Chest_Pain_Type,Resting_Blood_Pressure,Cholesterol_Level,Fasting_Blood_Sugar,Resting_ECG,Thalch,Exercise_Induced_Angina,Oldpeak,Slope,CA,Thal,Have_Heart_Disease
0,63,Male,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,67,Male,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,1
2,67,Male,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,37,Male,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,41,Female,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

EDA